<a href="/">Voltar</a>
<h2>Adicione uma nota:</h2>
<form action="/notes" method="POST">
   <div class="mb-3">
      <label for="title" class="form-label">Título:</label>
      <input type="text" name="title" id="title" class="form-control" placeholder="O que você pretenda fazer?">
   </div>
   <div class="mb-3">
      <label for="description" class="form-label">Descrição:</label>
      <textarea class="form-control" name="description" id="description" placeholder="Descreva a nota:"></textarea>
   </div>
   <button type="submit" class="btn btn-primary">Criar nota</button>
</form>